In [91]:
import pandas as pd
import matplotlib.pyplot as plt

In [92]:
df=pd.read_csv("C:/Users/LENOVO/OneDrive/Documents/CODING/DATA SCIENCE/Codebasics/ML/9_decision_tree/Exercise/titanic.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

##### In this file using following columns build a model to predict if person would survive or not,

1. Pclass
1. Sex
1. Age
1. Fare

##### Calculate score of your model

In [93]:
df1=df[['Pclass','Sex','Age','Fare','Survived']]
df1.head(10)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0
5       3    male   NaN   8.4583         0
6       1    male  54.0  51.8625         0
7       3    male   2.0  21.0750         0
8       3  female  27.0  11.1333         1
9       2  female  14.0  30.0708         1

In [94]:
df1.Pclass.count()

891

In [95]:
df1.Pclass.isnull().sum()

0

In [96]:
df1.Sex.isnull().sum()

0

In [97]:
df1.Age.isnull().sum()

177

In [98]:
df1.Fare.isnull().sum()

0

In [99]:
df1.Age.median()

28.0

In [100]:
df1.Age.fillna(28,inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6380\2905569325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.Age.fillna(28,inplace=True)

In [101]:
df1.Age.isnull().sum()

0

In [102]:
df1.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [103]:
df1.head(10)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0
5       3    male  28.0   8.4583         0
6       1    male  54.0  51.8625         0
7       3    male   2.0  21.0750         0
8       3  female  27.0  11.1333         1
9       2  female  14.0  30.0708         1

In [104]:
d=pd.get_dummies(df1['Sex'])
d=d.astype(int)
d.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [105]:
df1=pd.concat([df1,d],axis='columns')
df1.head()

   Pclass     Sex   Age     Fare  Survived  female  male
0       3    male  22.0   7.2500         0       0     1
1       1  female  38.0  71.2833         1       1     0
2       3  female  26.0   7.9250         1       1     0
3       1  female  35.0  53.1000         1       1     0
4       3    male  35.0   8.0500         0       0     1

In [106]:
df1=df1.drop(['Sex','male'],axis='columns')
df1.head()

   Pclass   Age     Fare  Survived  female
0       3  22.0   7.2500         0       0
1       1  38.0  71.2833         1       1
2       3  26.0   7.9250         1       1
3       1  35.0  53.1000         1       1
4       3  35.0   8.0500         0       0

In [107]:
X=df1.drop(['Survived'],axis='columns')
X.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [108]:
y=df1['Survived']
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [109]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [110]:
model.fit(X,y)

DecisionTreeClassifier()

In [111]:
model.score(X,y)

0.9775533108866442

In [113]:
model.predict([[3,22,7.250,0]])

C:\Users\LENOVO\AppData\Local\Programs\Python\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)